@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* || RESET */

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* || VARIABLES */

:root {
    --FONT-FAMILY: "Outfit", sans-serif;
    --TEXT-FONT-SIZE: 15px;
    --TEXT-FONT-WEIGHT: 400;
    --TITLE-FONT-SIZE: 22px;
    --TITLE-FONT-WEIGHT: 700;
    --IMAGE-WIDTH: 288px;
    --IMAGE-HEIGHT: 288px;

/* COLORS */
    --BACKGROUND-COLOR: #FFF;
    --TEXT-COLOR: #7D889E;
    --TITLE-COLOR: #1F314F;
    --QR-BACKGROUND-COLOR: #2C7DFA;

/* BORDERS */

/* STANDARD PADDING */
    --STANDARD-PADDING: 0 16px;

/* STANDARD MARGIN */
    --TITLE-TOP-MARGIN:24px;
}

/* || UTILITY CLASSES */


/* || GENERAL STYLES */

html {
    font-family: var(--FONT-FAMILY);
    background-color:  #D5E1EF;
    text-align: center;
}

main {
    width: 320px;
    height: 497px;
    border-radius: 20px;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
    background-color: var(--BACKGROUND-COLOR);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-items: center;
}

.qr-code {
    width: var(--IMAGE-WIDTH);
    height: var(--IMAGE-HEIGHT);   
}

img {
    width: var(--IMAGE-WIDTH);
    height: var(--IMAGE-HEIGHT);
    border-radius: 10px;
 }

h1 {
    color: var(--TITLE-COLOR);
    font-weight: var(--TITLE-FONT-WEIGHT);
    font-size: var(--TITLE-FONT-SIZE);
    margin-top: var(--TITLE-TOP-MARGIN); 
    width: var(--IMAGE-WIDTH);
    padding: var(--STANDARD-PADDING);
}

p {
    color: var(--TEXT-COLOR);
    font-weight: var(--TEXT-FONT-WEIGHT);
    font-size: var(--TEXT-FONT-SIZE);
    width: var(--IMAGE-WIDTH);
    padding: var(--STANDARD-PADDING);
}

footer {
        position: absolute;
        left: -1000px;
    } 
